{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {{ message }}
            {% endif %}
        {% endwith %}
{#        {% block content %}{% endblock %}#}
    <h1>Вход</h1>
    <form action="" method="post" novalidate>
        {{  form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            {{ error }}
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            {{ error }}
            {% endfor %}
        </p>
        <p>
            {{ form.remember_me() }}
            {{ form.remember_me.label }}
        </p>
        <p>{{  form.submit() }}</p>
    </form>
    <hr>
    <p>Вы новенький?
        <br>
        <a class="btn btn-primary" href="{{ url_for('register') }}">Зарегистрироваться!</a>
    </p>
    <p>Забыли пароль?
        <br>
        <a class="btn btn-primary" href="{{ url_for('reset_password_request') }}">Нажмите, чтобы восстановить!</a>
    </p>
    </div>
{% endblock %}
