{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
        {% for thing in things %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="{{url_for('static', filename=thing.img_code+'.jpg')}}" class="card-img-top" alt="Ошибка изображения">
                  <div class="card-body d-flex justify-content-center">
                    <a href="{{ url_for('thing', thing_id=thing.id) }}" class="btn btn-primary">Подробнее</a>
                  </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
