{% extends 'base.html' %}
{% block content %}
    <form action="" method="post" novalidate>
        {{  form.hidden_tag() }}
            <div class="container">
            <div class="row">
                <div class="col">
                  <img style="width: 25rem;" src="{{thing.img_code}}" alt="Ошибка изображения">
                </div>
                <div class="col align-self-center">
                    <div class="row">
                        <p>Название - {{ thing.type }}</p>
                    </div>
                    <div class="row">
                        <p>Ткань - {{ thing.cloth }}</p>
                    </div>
                    <div class="row">
                       <p>Размер - {{ thing.size }}</p>
                    </div>
                    <div class="row">
                       <p>Цена - {{ thing.price }}</p>
                    </div>
                    <div class="row mt-2">
                       <a href="{{ url_for('order') }}" type="button" class="btn btn-success">Купить</a>
                    </div>
                    <div class="row mt-2">
                       <p>{{  form.submit() }}</p>
                    </div>

                </div>
            </div>

                <hr>
                <a type="button" class="btn btn-secondary d-flex justify-content-center" href="{{ url_for('index') }}">Назад</a>
            </div>
    </form>
{% endblock %}